.egg-heading {
    display: flex;
    justify-content: center;
}

.gaston-heading {
    text-align: center;
    font-family: cursive Georgia, sans-serif;
    font-size: 60px;
    background-color: white;
    width: 900px;
    border: 3px solid rgba(255, 0, 0, 0.609);
    border-top-width: 14px;
    border-left-width: 14px;
}

.gaston-body {
    height: 100%;
    background-image: url(https://images.unsplash.com/photo-1597212315795-556293e0fce1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8Ym9pbGluZyUyMHBvdHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

a {
    color: white;
}

.egg-descript {
    display: flex;
   justify-content: center;
}

.descript-text {
    background-color: white;
    width: 400px;
    padding: 5px;
    border: 3px solid rgba(255, 0, 0, 0.609);
    font-family: cursive Georgia, sans-serif;
}

.egg-recipe {
    display: flex;
    justify-content: center;
}

.recipe-text {
    width: 400px;
    background-color: white;
    padding: 5px;
    margin: 5px;
    border: 3px solid rgba(255, 0, 0, 0.609);
    font-family: cursive Georgia, sans-serif;
}

.rat-header {
    display: flex;
    justify-content: center;
}

.rat-heading { 
     text-align: center;
    font-family: cursive Georgia, sans-serif;
    font-size: 60px;
    background-color: white;
    width: 900px;
    border: 3px solid rgba(255, 0, 0, 0.609);
    border-top-width: 14px;
    border-left-width: 14px;
}

.rat-body {
    height: 100%;
    background-image: url(https://images.unsplash.com/photo-1576237934915-c716cf54b24d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8cmVzdGF1cmFudCUyMGtpdGNoZW58ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.rat-descript {
    display: flex;
    justify-content: center;
}

.rat-descript-text {
    background-color: white;
    width: 600px;
    padding: 5px;
    border: 3px solid rgba(255, 0, 0, 0.609);
    font-family: cursive Georgia, sans-serif;
}

.rat-recipe {
    display: flex;
    justify-content: center;
}

.rat-recipe-text {
      width: 400px;
    background-color: white;
    padding: 5px;
    margin: 5px;
    border: 3px solid rgba(255, 0, 0, 0.609);
    font-family: cursive Georgia, sans-serif;
}

.grey-heading {
    text-align: center;
    color: #393753;
    font-family: cursive;
}

.grey-body {
    background-color: #afb0b8;
}

.grey-recipe {
    color: #0a0a01;
    font-family: georgia, sans-serif;
}