body {
    background-color: rgb(51, 7, 248);
    font-family: cursive;
    color: white;
}

.princess {
    text-align: center;
}

h1 {
    text-align: center;
}

a {
    color: white;
    font-size: 20px;
}

h4 {
    font-size: 28px;
}